@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Righteous);


.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto; /* prevent horizontal scrollbar */
  overflow-x: hidden;  /* IE 6 doesn't support max-height * we use height instead, but this forces the menu to always be this tall */
  /* height: 100px; */
}

input::-webkit-calendar-picker-indicator {
	opacity: 100;
}

html, body {
    margin: 0px;
    font-family: "Comfortaa";
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: "Comfortaa";
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: "Comfortaa";
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: "Comfortaa";
}
:-moz-placeholder { /* Firefox 18- */
  font-family: "Comfortaa";
}

input {
  font-family: "Comfortaa";
}

button {
  font-family: "Comfortaa";
}

main p, main h1 {
    margin: 0;
    padding: 0;
}

nav {
    background: white;
    color: #073763;
    border-bottom: 3px solid #073763;
    margin: 0;
    padding: 10px;
    padding-left: var(--side);
    padding-right: var(--side);
    display: flex;
    justify-content: left;
    align-items: baseline;
    flex-wrap: wrap;
}

footer {
   background: #073763;
    color: white;
    margin: 0;
    padding: 10px;
    padding-left: var(--side);
    padding-right: var(--side);
    display: flex;
    justify-content: left;
    align-items: baseline;
    flex-wrap: wrap;
}


img {
    height: 2.2rem;
    margin: 0;
    padding: 0;
    margin-right: 0rem;
    margin-bottom: -0.2rem;
    margin-top: -0.2rem;
    vertical-align: bottom;
}

.h1 {
    margin: 0;
    font-size: 1.5rem;
    padding-right: 20px;
    align-items: center;
}

.head {
    justify-content: center;
}

nav a {
    color: #073763;
    text-decoration: none;
    font-size: 1rem;
    padding: 2px;
    margin-right: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 2px;
    margin-right: 20px;
}

a:hover, a:active {
    text-decoration: underline;
}

main {
    padding-left: var(--side);
    padding-right: var(--side);
}

main h1 {
    padding-top: 20px;
    font-size: 3rem;
    font-weight: normal;
	color: #0096da;
}

main p {
    line-height: 1.5;
    text-align: justify;
}

main section h1 {
    font-size: 1rem;
    font-weight: bold;
}

.head {
    text-align: center;
}

@media(max-width: 700px) {
    html {
        --side: 20px;
        --inset: -17px;
        --outset: 20px;
    }
    nav .head {
        flex-basis: 100%;
    }
    .head span {
        text-align: center;
        font-size: 2rem;
    }
    nav {
        justify-content: center;
    }
    nav a {
        font-size: 1.5rem;
        margin-right: 5px;
        margin-left: 5px;
    }
    .problem-list {
        justify-content: center;
    }
    .problem {
        flex-grow: 2;
    }
    img {
        height: 2.5rem;
        margin-bottom: -2px;
    }
}

@media(min-width: 701px) {
    html {
        --inset: 0;
        --outset: 10px;
    }
    .problem-list {
        justify-content: left;
    }
}

@media(min-width: 701px) and (max-width: 1000px) {
    html {
        --side: calc(50vw - 330px)
    }
}

@media(min-width: 1001px) {
    html {
        --side: 20vw;
    }
}

.problem-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.problem {
    text-decoration: none !important;
}

.problem {
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 15px;
    margin: 5px;
}

.problem:hover {
    margin: 4px;
    border-width: 3px;
}

.failure {
    background: #a00;
    color: white;
    border-color: #a00;
}

.success {
    background: #0096da;
    color: white;
    border-color: #0096da;
}

.normal {
    background: white;
    color: #073763;
    border-color: #073763;
	border-style: dashed;
}

.admin{
    background: #073763;
    color: white;
    border-color: #073763;
}

.problem p {
    padding: 0px;
    margin: 0;
    text-align: center;
}

.problem i {
    font-size: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.problem-icon{
    font-size: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}


.problem {
    padding: 10px;
}

.code {
    font-size: 1.5rem;
}

.enunciado {
    padding: 0;
    margin-top: 10px;
    line-height: 1.5;
    text-align: justify;
    /* border-radius: 10px;
    box-shadow: #bbb 0px 0px 5px 5px; */
}

hr {
    border-width: 1px;
    border-color: #000;
    margin: 3rem;
    margin-right: 10vw;
    margin-left: 10vw;
}

form {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: box;
}

input {
    margin: 5px;
}

form {
    /* background: rgb(170, 180, 230); */
    /* padding: 10px;
    border-radius: 10px;
    border: solid 1px #ccc; */
    text-align: center;
    /* box-shadow: #bbb 0px 0px 5px 5px; */
}

main a {
    color: #073763;
}

main h1 i {
    font-size: 3rem !important;
}

.done {
    color: #0a0;
}

.add i {
    color: white;
}

textarea {
    width: 100%;
}

.problem {
    width: 6rem;
}

main h1 {
    text-align: center;
    padding: 10px;
}

#login {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

form {
    display: flex;
    align-items: stretch;
    flex-flow: column;
    margin: auto;
}

input {
    margin: 5px;
    padding: 5px;
}

dt, dd {
    margin: 0;
    font-size: 1.2rem;
}

.tit, dt {
    margin: 0;
    padding: 0;
    margin: 1px;
    color: #073763;
    font-size: 1rem;
}

dd {
    margin-left: 1rem;
}

.username {
    font-style: italic;
    color: rgb(147, 160, 226);
    padding-left: 0.2rem;
}

legend {
    padding-top: 2rem;
    font-size: 1.5rem;
}

button {
    margin-left: auto;
    margin-right: auto;
}

.stretch {
    display: flex;
    justify-content: stretch;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.boxed {
    margin-left: var(--inset);
    margin-right: var(--inset);
    padding-right: var(--outset);
    padding-left: var(--outset);
    padding-top: 10px;
    padding-bottom: 10px;
}

.boxed * {
    margin: 0;
}

.stretch * {
    flex-basis: 100%;
}

.stretch p {
    margin: 0.5rem;
}

.light-bg {
    background: #cdf;
}

p {
    margin: 1rem;
}

.spacer {
    height: 1rem;
    margin: 0;
    padding: 0;
}

.left {
    display: flex;
    justify-content: space-between;
}

.padded {
    padding-left: 5px;
    padding-right: 5px;
}

.margin {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.notification {
    margin: 0.5em;
    padding: 0.5em;
    margin-left: var(--side);
    margin-right: var(--side);
    border-radius: 5px;
}
 
.good {
    background: #080;
    color: white;
}

.wait {
    background: #87CEFA;
    color: white;
}


.notification h1, .notification p {
    margin: 0;
    padding: 0;
}

.urgent {
    background: #800;
    color: white;
}


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  float: left;
  width: 100%;
}


/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 100%;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0%;
  margin-left: 0px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptit{ 
  position: relative;
  display: inline-block;
  float: left;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}


/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 3%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.active-problem-h2 {
	background-color: #40B5EA;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
}
.next-problems-h2 {
	background-color: #073763;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
}

/*
table, th, td {
  border: 1px solid black;
}*/

table {
  border-collapse: collapse;
  width: 100%;
}

table {
	border-style: none;
}

th {
    line-height: 150%;
}

td {
    line-height: 150%;
    text-align: center;
}
tr {
    border-bottom: 1px solid lightgrey;
    /*border-top: 1px solid grey;*/
    border-collapse: collapse;
}​


tbody td {
  text-align: center;
}

 th {
  text-align: center;
}


.result_incorrect {
	background-color: #FA9B9B;
}
.result_correct {
	background-color: #AAFDAB;
}
.result_wait {
	background-color: #BDFCF3;
}
